[type=number] {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chordinator {
	display: flex;
	flex-direction: column;
}

#play-buttons {
	display: flex;
	align-self: center;
}

#observablehq-chart-e314e9cf {
	align-self: center;
}
