/* Global Settings */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Body Settings */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  max-width: 63em;
}

/* Skip Link Settings */
body > a {
  position: absolute;
  top: -3em;
  background: #fff;
}

body > a:focus {
  top: 0;
}

/* Menu Settings */
header, footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  /* column-gap: 1em; */
}

header {
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  padding-top: 8px;  
  padding-bottom: 8px;
}
  
header > a {
  display: flex;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* column-gap: 1em; */
  /* row-gap: 0.5em; */
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

nav > ul > li,
nav > ul > li {
  margin-left: 0.25em;
  margin-top: 0.5em;
  display: flex;
}

/* Main Settings */
main {
  flex-grow: 1;
}

/* Big Screen Settings */
@media (width >= 30em) {
  header,
  footer {
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
  }
}

/* Tile Layout Settings */
main > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

main > nav > ul > li {
  display: flex;
  flex-direction: column;
  width: 20em;
}

main > nav > ul > li > a > img {
  height: 12em;
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
}

main nav ul li hr {
  align-self: end;
}

main nav ul li p {
  justify-self: flex-end;
}

main nav ul li p:nth-of-type(3) {
  flex-grow: 1;
}

main {
  margin: 1em;
}