*{
  font-family: HelveticaNeue, sans-serif;
}

:root {
  --main-fg-color: hsl(0, 0%, 0%, 1);
  --main-fg2-color: hsl(0, 0%, 50%, 1);
  --main-fg3-color: hsl(0, 0%, 90%, 1);
  --main-fg4-color: hsl(0, 0%, 95%, 1);
  --main-bg-color: hsl(0, 0%, 100%, 1);
  --nav-bg-color: hsl(0, 0%, 100%, 1);
}

main nav ul li {
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-fg3-color);
  background-color: white;
  padding: 0;
}

main nav ul li a {
  padding: 0;
  margin: 0;
}

main nav ul li a img {
  margin: 0;
}

main  nav ul li a {
  color: black;
}

header {
  /* TODO: Make the border not quite reach each side */
  border-bottom: 1px lightgrey solid; 
  background: var(--nav-bg-color);
}

footer {
  /* TODO: Make the border not quite reach each side */
  border-top: 1px lightgrey solid; 
  background: var(--nav-bg-color);
  color: var(--main-fg2-color);
}

nav li a {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

nav li a:hover {
  color: var(--main-fg-color);
}

nav li a {
  color: var(--main-fg2-color);
  text-decoration-line: none;
}

header > a > img {
  height: 3em;
  margin: 1em;
}

header > a > img:hover {
  outline: 1px solid black;
}

body {
  background-color: var(--main-bg-color);
}

main > nav > ul > li > p:nth-of-type(1) > a {
  color: var(--main-fg2-color);
  border: 1px solid var(--main-fg4-color);
  padding: 0.5em;
}

main > nav > ul > li > p:nth-of-type(1) {
  color: var(--main-fg2-color);
  margin-left:1rem;
  display: flex;
}

main > nav > ul > li > p:nth-of-type(2) {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 1rem;
}

main > nav > ul > li > p:nth-of-type(3) {
  margin-left: 1rem;
}

main > nav > ul > li > p:nth-of-type(5) {
  font-size: 1.1em;
  font-weight: bold;
  margin-left:1rem;
  margin-bottom: 1rem;
}

main > nav > ul > li > p {
  margin: 0.5rem;
}


main nav ul li hr {
  width: 90%;
  border: none;
  border-top: 1px solid var(--main-fg3-color);
}

body {
  background-color: var(--main-bg-color);
}