---
title: Home
layout: mainLayout.njk
tags: menuitem
menuOrder: 0
---

<nav>
  <ul>
    {% for post in collections.post %}
      <li>
        <a href="{{ post.url | url }}"><img src="{{ post.data.image | url }}"/></a>
        <p><a href="#">{{ post.data.category }}</a></p>
        <p><a href="{{ post.url | url }}">{{ post.data.title }}</a></p>
        <p>4 June 2021</p>
        <p>{{ post.data.description }}</p>
        <hr>
        <p><a href="{{ post.url | url }}">Read more</a></p>
      </li>
    {% endfor %}
  </ul>
</nav>
