---
title: Encyclopedia of Experimental Musical Instruments
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encyclopedia of Experimental Musical Instruments - {{ title }}</title>
    <link rel="icon" href="{{ "/img/eoemi_logo-48x48.png" | url }}">
    <link href="{{ "/css/katex.css" | url }}" rel="stylesheet">
    <link href="{{ "/css/layout.css" | url }}" rel="stylesheet">
    <link href="{{ "/css/theme.css" | url }}" rel="stylesheet">
    <link href="{{ "/css/prism-default.css" | url }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% if css %}
      {% for link in css %}
         <link rel="stylesheet" href="{{link | url}}" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
  <a id="skiplink" href="#maincontent">Skip to main content</a>
    <header>
    <a href="{{ "/" | url }}"><img src="{{ "/img/eoemi_logo.svg" | url }}" alt="EOEMI home"/></a>
    <nav>
      <ul>
        {% for menuitem in collections.menuitem | sortByAttrAttr("data", "menuOrder") %}
          <li>
            <a href="{{ menuitem.url | url }}">{{ menuitem.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    </header>
    <main id="maincontent">
      {{ content | safe }}
    </main>
    <footer>
    <p>
    © 2021-2021 Andrew Punnett
    </p>
    <nav>
      <ul>
          {% for footermenuitem in collections.footermenuitem %}
            <li>
              <a href="{{ footermenuitem.url | url }}">{{ footermenuitem.data.title }}</a>
            </li>
          {% endfor %}
      </ul>
    </nav>
    </footer>
  </body>
</html>
